*{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}
body{
    background-color: #48D1CC;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
h1{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}
section{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    width: 300px;
    height: 500px;
    border-radius: 5px;
    background-color: #40E0D0;
    box-shadow: -21px 46px 42px -18px black,21px 40px 30px -18px black;
}
.listPrincipal{
    font-size: 40px;
    margin: 10px;
    list-style: none;
   
  
}
li{
    border: 1px solid black;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.5);
    margin: 10px;
    border-radius: 5px;
   
}
li:hover{
    background-color: #00FFFF;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #4169E1;
}